<body>

<div id="header">
<h1>Pavers Inquiry</h1>
</div>



<div id="section">
<h1>A new Inquiry has been submitted</h1>
<p>Custom Details:</p>
Name :{0}
Email :{1}
Phone :{2}

<hr />
<p>Product Interested:</p>
{3}
</div>

<div id="footer">

</div>

</body>

<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>